.no-internet-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .no-internet-content {
    text-align: center;
  
    h2 {
      margin-bottom: 10px;
      color: var(--error-text); 
    }
  
    p {
      color: var(--secondary-text-color); 
    }
  }
  