.role-eligibility-container {
  width: 500px;
  .role-eligibility-item {
    padding: 20px;
    border: 2px solid #e6e7eb;
    margin-top: 15px;
    border-radius: 4px;
    color: var(--secondary-text-color);
  }
  .acquired-additional-info{
   padding-top: 4px;  
   font-size:16px;
  }
  .eligible {
    border: none;
    background-color: #f3f4f6;
    color: var(--primary-color);
  }
  .eligiblity-info {
    margin-top: 20px;
  }
}
