.skills-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
}

.skill-info {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    accent-color: var(--primary-color);
    margin-right: 8px;
  }

  .label-text {
    margin-left: 8px;
  }
}

.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 10px;
  width: 80%;

  &.active-skill {
    background-color: var(--button-background-color);
    border: none;
    color: var(--primary-color);
  }

  .active-text {
    color: var(--primary-color);
  }

  .skill-roles {
    font-size: 16px;
    color: var(--secondary-text-color);
    padding-top: 8px;
  }
}

.button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.add {
    background-color: var(--text-color-secondary);
    color: var(--body-text-color);
  }

  &.remove {
    background-color: var(--button-background-color);
    color: var(--primary-color);
  }

  &.retry {
    background-color: var(--error-background-color);
    color: var(--error-text);
  }
}

.sidebar {
  background-color: var(--background-secondary-color);
  padding: 20px;
  width: 200px;

 

  .user-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .user-item {
      padding: 10px;
      cursor: pointer;

      &.selected {
        background-color: var(--primary-color);
        color: var(--text-color-secondary);
      }
    }
  }
}

.inprogress-spinner {
  border: 2px solid var(--background-secondary-color);
  border-radius: 50%;
  border-top: 2px solid var(--body-text-color);
  width: 12px;
  height: 12px;
  animation: spin 0.6s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.no-records {
  padding: 20px;
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 16px;
}
