// SCSS styles for the skills component
$primary-color: #6f52ed;
$retry-color: #ffcccc;
$button-color: #ffffff;
$border-color: #e0e0e0;

.skills-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
}

.skill-info {
  display: flex;
  flex-direction: column;
}



.label {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    accent-color: var(--primary-color);
    margin-right: 8px;
  }

  .label-text {
    margin-left: 8px;
  }
}


.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 80%;

  
  
}
.active-skill {
  background-color: #f3f4f6;
  border: none;
  color: var(--primary-color);
}




.active-text{
  color: var(--primary-color) !important;
}

.skill-roles {
  font-size: 16px;
  color: gray;
  padding-top: 8px;
}

.button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.add {
    background-color: #fff;
    color: black;
  }

  &.remove {
    background-color: #f3f4f6;
    color: var(--primary-color);
  }
   
  &.retry {
    background-color: var(--error-background-color);
    color: var(--error-text);
  }
}

// SCSS for the sidebar and user list
.sidebar {
  background-color: #f5f5f5;
  padding: 20px;
  width: 200px;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .user-item {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #e0e0e0;
    }

    &.selected {
      background-color: $primary-color;
      color: $button-color;
    }
  }
}



.inprogress-spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 2px solid #000;
  width: 12px;
  height: 12px;
  animation: spin 0.6s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
