.tabs-container {
  display: flex;
  margin-top: 40px;
  button {
    background-color: var(--button-background-color);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--secondary-text-color);
  }
  button.active {
    color: var(--primary-color);
    background: var(--highlight-background-color);
  }
  button:hover {
    background-color: var(--hover-background);
  }
}

.tab-layout {
  padding-left: 68px;
  .tab-content {
    padding-top: 40px;
  }
}

.hidden {
  display: none;
}
