:root {
    --primary-color: #7C3BED;
    --background-color: #f0f0f0;
    --background-secondary-color: #F9FAFB;

    --highlight-background-color:#eceafd;
    --highlight-text-color:#eceafd;
    --highlight-border:#DCD7FB;
    
    --body-text-color:black;
    --secondary-text-color: #4d5562;
    --text-color-secondary: #FFFFFF;
    
    --border-radius:4px;
    --error-text:#DE4747;
    --error-background-color:#FFDEDE;
  }
  